---
const { es = false } = Astro.props;
import PGImg from "../../img/fthb/pg.png";

const propertyGuidelines = [
  "The property must be within the City of Norwalk limits/boundaries.",
  "Occupancy Ratio: No more than 1.5 people per living space (including bedrooms, living room, family room, den/study).",
  "The property must be occupied by the seller/owner and must not have been vacated within the last 30 days.",
  "The property may be a new or resale single-family detached unit, condominium, townhouse, or manufactured home on a permanent foundation.",
  "You must obtain fire and casualty insurance, including flood insurance when applicable, covering the replacement value of property improvements.",
  "The property must be free from any health & safety hazards and/or lead poisoning exposures.",
  "Before final loan approval, a Housing Quality Standards (HQS) inspection will be conducted to verify the property’s condition. Proof of initial building permit issuance must be provided.",
];
---

<section
  class="w-full bg-fthb-bg-2 bg-cover md:pt-[12%] pb-16 md:px-16 flex flex-col gap-7 relative text-lw-blue text-xl md:text-2xl bg-white"
>
  <header
    class="w-[98%] mt-3 md:mt-0 md:w-[90%] flex items-center justify-center rounded-3xl md:absolute md:-top-24 m-auto left-0 right-0"
  >
    <img src={PGImg.src} class="w-full h-full object-contain" alt="" />
    <h1
      class="text-3xl md:text-5xl lg:text-6xl text-nw-blue font-bold absolute right-[10%] text-center"
    >
      <span class="stroke-text text-4xl md:text-6xl lg:text-8xl">PROPERTY</span>
      <br />
      GUIDELINES
    </h1>
  </header>

  <div class="w-full flex items-center justify-center relative"></div>

  <!-- Columns -->
  <div class="w-full flex flex-col md:flex-row gap-5 md:gap-16 px-12 md:px-0">
    <ul class="w-full md:w-1/2 flex flex-col gap-7 list-disc">
      <li>{propertyGuidelines[0]}</li>
      <li>{propertyGuidelines[1]}</li>
      <li>{propertyGuidelines[2]}</li>
    </ul>

    <ul class="w-full md:w-1/2 flex flex-col gap-5 list-disc">
      <li>{propertyGuidelines[3]}</li>
      <li>
        {propertyGuidelines[4]}
      </li>
      <li>{propertyGuidelines[5]}</li>
    </ul>
  </div>

  <ul class="px-12 md:px-0">
    <li class="list-disc">{propertyGuidelines[6]}</li>
  </ul>
</section>

<style>
  .stroke-text {
    color: #d2e7f1;
    letter-spacing: 4px;

    text-shadow:
      -2px 2px 0 #213468,
      2px 2px 0 #213468,
      2px -2px 0 #213468,
      -2px -2px 0 #213468;
  }
</style>
